<div class="container">
  <h3>Action Point Details</h3>
  <form #actionPointForm="ngForm">
    <div class="form-group row">
      <label for="name" class="col-sm-2">Name</label>
      <div class="col-sm-10">
        <input type="text" name="Name" class="form-control" id="name" required=true [(ngModel)]="_actionPoint.name" #apName="ngModel"
        />
        <div [hidden]="apName.valid || apName.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="Address" id="showAddressCB" [(ngModel)]="showAddress"> Show Address</label>
    </div>

    <ng-container *ngIf="showAddress">
      <div class="form-group row">
        <label for="street" class="col-sm-2">Street</label>
        <div class="col-sm-6">
          <input type="text" name="Street" class="form-control" id="street" required=true [(ngModel)]="_actionPoint.address.street"
            #adStreet="ngModel" />
          <div [hidden]="adStreet.valid || adStreet.pristine" class="alert alert-danger">
            Street is required
          </div>
        </div>

        <label for="streetNumber" class="col-sm-2">Number</label>
        <div class="col-sm-2">
          <input type="text" name="Number" class="form-control" id="streetNumber" required=true [(ngModel)]="_actionPoint.address.number"
            #adNum="ngModel" />
          <div [hidden]="adNum.valid || adNum.pristine" class="alert alert-danger">
            Street number is required
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="zip" class="col-sm-2">ZIP Code</label>
        <div class="col-sm-2">
          <input type="text" maxlength="5" name="Zip" class="form-control" id="zip" required=true [(ngModel)]="_actionPoint.address.zip"
          #adZip="ngModel" />
          <div [hidden]="adZip.valid || adZip.pristine" class="alert alert-danger">
            ZIP Code is required
          </div>
        </div>

        <label for="city" class="col-sm-2">City</label>
        <div class="col-sm-6">
          <input type="text" name="City" class="form-control" id="city" required=true [(ngModel)]="_actionPoint.address.city"
          #adCity="ngModel" />
          <div [hidden]="adCity.valid || adCity.pristine" class="alert alert-danger">
            City is required
          </div>
        </div>
      </div>
    </ng-container>

    <div class="form-group">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="Geo Coordinates" id="showGeoLocationCB" [(ngModel)]="showGeoLocation"> Show Geo Coordinates</label>
    </div>

    <ng-container *ngIf="showGeoLocation">
      <div class="form-group row">
        <label for="longitude" class="col-sm-2">Longitude</label>
        <div class="col-sm-2">
          <input type="text" name="Longitude" class="form-control" id="longitude" required=true [(ngModel)]="_actionPoint.geoLocation.longitude"
          #glLon="ngModel" />
          <div [hidden]="glLon.valid || glLon.pristine" class="alert alert-danger">
            Longitude is required
          </div>
        </div>

        <label for="latitude" class="col-sm-2">Longitude</label>
        <div class="col-sm-2">
          <input type="text" name="Latitude" class="form-control" id="latitude" required=true [(ngModel)]="_actionPoint.geoLocation.latitude"
          #glLat="ngModel" />
          <div [hidden]="glLat.valid || glLat.pristine" class="alert alert-danger">
            Latitude is required
          </div>
        </div>
      </div>
    </ng-container>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn" (click)="goToList()">Back</button>
  </form>
</div>