<div class="container">
  <h3>Action Point Details</h3>
  <form [formGroup]="actionPointForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="name" class="col-sm-2">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [ngClass]="validationErrorClass('name')" id="name" formControlName="name" />
      </div>
    </div>

    <div class="form-group">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" id="showAddressCB" (click)="toggleAddress()" [checked]="_useAddress">        Show
        Address
      </label>
    </div>

    <ng-container formGroupName="address" *ngIf="_useAddress">
      <div class="form-group row">
        <label for="street" class="col-sm-2">Street</label>
        <div class="col-sm-6">
          <input type="text" formControlName="street" class="form-control" [ngClass]="validationErrorClass('address.street')" id="street" />
        </div>

        <label for="streetNumber" class="col-sm-2">Number</label>
        <div class="col-sm-2">
          <input type="text" formControlName="number" class="form-control" [ngClass]="validationErrorClass('address.number')" id="streetNumber" />
        </div>
      </div>

      <div class="form-group row">
        <label for="zip" class="col-sm-2">ZIP Code</label>
        <div class="col-sm-2">
          <input type="text" maxlength="5" formControlName="zip" class="form-control" [ngClass]="validationErrorClass('address.zip')" id="zip" />
        </div>

        <label for="city" class="col-sm-2">City</label>
        <div class="col-sm-6">
          <input type="text" formControlName="city" class="form-control" [ngClass]="validationErrorClass('address.city')" id="city" />
        </div>
      </div>
    </ng-container>

    <div class="form-group">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" id="showAddressCB" [checked]="_useGeoLocation" (click)="toggleLocation()">        Geo
        Coordinates
      </label>
    </div>

    <ng-container formGroupName="geoLocation" *ngIf="_useGeoLocation">
      <div class="form-group row">
        <label for="longitude" class="col-sm-2">Longitude</label>
        <div class="col-sm-2">
          <input type="text" formControlName="longitude" class="form-control" [ngClass]="validationErrorClass('geoLocation.longitude')" id="longitude" />
        </div>

        <label for="latitude" class="col-sm-2">Longitude</label>
        <div class="col-sm-2">
          <input type="text" formControlName="latitude" class="form-control" [ngClass]="validationErrorClass('geoLocation.latitude')" id="latitude" />
        </div>
      </div>
    </ng-container>

    <button type="submit" [disabled]="!actionPointForm.valid" class="btn btn-primary">Back</button>
  </form>
</div>