<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="#">dwerion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class='nav-link' routerLink='/ap' routerLinkActive="active">Action Points</a> </li>
      <li class="nav-item">
        <a class='nav-link' routerLink='/usr' routerLinkActive="active">User Accounts</a>
      </li>
      <li class="nav-item">
        <a class='nav-link' routerLink='/per' routerLinkActive="active">Permissions</a>
      </li>
    </ul>
  </div>
</nav>

<div class="dwerion-root">
  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>

    <img width="100" alt="dwerion logo" src="assets/images/pibot.jpg">

    <div class="row">
      <h3>
        "Knock, and it shall be opened unto you"
      </h3>
    </div>
    <div class="row">
      <div class="col-sm-push-7 col-sm-2">
        Matthew 7:7
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>