<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

  <img width="100" alt="dwerion logo" src="assets/images/pibot.jpg">
  
  <div class="container">
    <div class="row">
      <h3>
        "Knock, and it shall be opened unto you"
      </h3>
    </div>
    <div class="row">
      <div class="col-sm-push-7 col-sm-2">
        Matthew 7:7
      </div>
    </div>
  </div>
</div>
<nav>
  <a routerLink='/ap' routerLinkActive="active">Action Points</a>
  <a routerLink='/usr' routerLinkActive="active">Users</a>
</nav>
<router-outlet></router-outlet>